html, body {
  height: 100%;
  padding: 0;
  border: 0;
  margin: 0;
}

.menu, .script, .block {
  border: 1px inset green;
  border-radius: 7px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

h1 {
  margin: 0em;
}

.menu-column {
  width: 24%;
  height: 85%;
  float: left;
  margin-left: 10px;
}

.menu {
  background-color: grey;
  overflow-y: auto;
}

.script-column{
  width: 24%;
  height: 85%;
  float: left;
  margin: 0 10px;
}

.script {
  background-color: LightSteelBlue;
  height: 94%;
  overflow-y: auto;
}

.canvas-column {
  width: 46%;
  height: 85%;
  float: right;
  margin-right: 10px;
}

.canvas-placeholder {
  width: 100%;
  height: 85%;
}

.canvas{
  background-color: lightgreen;
  position: absolute;
}

.block {
  padding: 5px;
  margin: 10px;
  cursor: move;
}

.menu .block { background-color: coral; }

.block input {
  margin-left: 1em;
  width: 5em;
  margin-bottom: 5px;
}

.container {
  margin: 0 -6px 0 20px;
  border: 1px inset grey;
  border-right: 0;
  padding-bottom: 10px;
  background-color: grey;
  border-radius: 5px 0 0 5px;
}
